body {
    font-family: Arial, sans-serif;
    background-color: grey;
}
h1{
    background-image: linear-gradient(to right, rgb(140, 0, 255) , rgb(151, 21, 151));
    text-align: center;
}
form {
    margin-bottom: 20px;
    border: 20px solid purple;
    border-radius: 30px;
    margin-right: 800px;
    padding-left: 700px;
    background-color: rgb(190, 185, 185);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    margin-right: 10px;
}

#resultado {
    margin-top: 20px;
}
